@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    }

.logo {
        font-size: 2.5rem;
        margin-left: -2.2em;
        margin-top: -.6em;
        font-weight: bold;
        color: #359381;
        z-index: 999;
        span{
            color: #00997d;
        }
       
        }

header{
    display: flex;
    justify-content: space-between;
    svg{
        width: 3em;
        margin-top: -3em;
        margin-right: -5em;
        cursor: pointer;
    }


}
#text{
    position: absolute;
    font-size: 4rem;
    color: #ffffff;
    top: 25%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,.2);
    
    
    
}
.sec{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    
}
.sec {
    opacity: 0;
    filter: blur(5px); /* Fix: Remove the space before the opening parenthesis */
    transform: translateX(-100%);
    transition: all 3s;
    
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
.Parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
.Parallax #back1 {
            width: 100%; 
             height: 70%;
            z-index: -1;
            
          }
body {
            background: #003329;
            /* background-color: #ff0000; */
            z-index: 2222;
            /* background-size: cover; */
           
            
            }

.Parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    pointer-events: none;}

.sec{
    margin-top: -30rem;
}
.sec #text1{
    color: #ffffff;
    font-size: 2em;
    text-transform: capitalize;
    margin-top: 30rem;
    
}

.sec p {
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.Parallax{
    opacity: 0;
    transition: all 2s;
}
.show{
    opacity: 1;
}
nav{
            position: fixed;
            right:0 ;
            top: 0;
            background: white;
            height: 500vh;
            width: 50%;
            z-index: 9999;
            text-transform: uppercase;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;
            ul{
                list-style-type: none;
                padding: 0;
                margin-top: 6em;
                z-index: 9999;
            
            a{
                color: #002b23;
                padding: .75em 2em;
                display: block;
                font-weight: bold;
                width: 100%;
                z-index: 9999;
                &:hover{
                    background: #89a5a0;
                }
            }
            
        }
    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }
    }

.open-nav{
    transform: translateX(0%);
}
@media only screen and (min-width:680px){
    body{
        margin: 1.5em 5em;
    }
}
@media only screen and (min-width:680px){
    .navham{
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
        svg.close {
            display: none;
            }
        ul {
            display: flex;
            margin: 0;
            }
        a{
            color:#ff0000;
            padding: 0.5em 1.5em ;
            font-size: .9rem;
            font-weight: bold;
            width: 100%;
        }
    }
}
.more-info{
    img{
        margin-top: 35%;
        width:100%;
        object-fit: cover;
        height: 11em;
    }
    .title{
        margin-top: 35%;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc{
        color: #ffffff;
        line-height: 1.5rem ;
    }
}
.features{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
    img {
        width: 25em;
        } I
.content{
    text-align: right;
    width: 25em;
}}
.features.left{
    grid-template-areas: "left right";
    img{
        margin-top: 65%;
        width: 18em;
        grid-area: left;
    }
}